

body{
    font-family: sans-serif;

}

.titlebar{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div{
    background-color: black;
    color: white;
    width: 200px;
    margin:10px;
    

}